
section{
  max-width:800px;
  margin:0 1.5rem;
}
h1{
  box-shadow:0 0 10px white;
  padding:0.3rem 0;

}
form{
  background-color:rgb(193, 190, 190);
  justify-content:center;
  text-align:center;
  min-width:160px;
  max-width:600px;
  margin:0 auto;
  padding:1rem 2rem;
  border:0.5px  solid rgb(222, 218, 218);
  box-shadow: 2px 5px 12px white, 8px 0 0 white, 8px 5px 0 white;
  border-radius:10px;
  transition: 0.8ms ease-in-out;
  
}
label{
  font-size:1.3rem;
  font-weight:500;
}
input{
  margin-bottom:15px;
  margin-top:5px;
  width:100%;
  border-radius:3px;
  border:none;
  padding:3px 10px;

}
select{
  display:flex;
  margin-bottom:15px;
  margin-top:5px;
  width:105%;
  border-radius:3px;
  border:none;
  padding:3px 10px;
  transition:0.1s ease-end-out;
}
p{
  font-size:1.5rem;
  font-weight:bold;
  text-decoration:underline;
  color:rgb(10, 142, 5);
  transition:0.9s ease-end-out;

}
.pop {
  animation: popIn 0.35s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  70% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

