

body{
  background-color:rgb(144, 181, 134);
  margin:0;
  min-height:95vh;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  text-align:center;
padding-right: 5rem;
  background-image: url("./assets/images/Currency\ Converter.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}